//pkgs.dev.azure.com/hbank/Honeycomb/_packaging/honeycomb/npm/registry/:username=VssSessionToken

; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.

//pkgs.dev.azure.com/hbank/Honeycomb/_packaging/honeycomb/npm/registry/:_password=czdrZTZwNXBxcmRyeXV5bWtja251bHZ4eGtweDI0M2E2ZGRodnBmM3Y2cnI2dHZiMm92cQ==

; The npm client won't use username and _password without an email set, but the service doesn't use the email value. The following is an arbitrarily made-up address.

//pkgs.dev.azure.com/hbank/Honeycomb/_packaging/honeycomb/npm/registry/:email=not-used@example.com